body, #modal {
    bottom: 0;
    left: 0;
	margin: 0;
	padding: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#modal {
	background-color: fade(@content, 60%);
	display: none;
	text-align: center;
	z-index: 6;

	&.show {
		display: block;
	}

	.modal {
		display: inline-block;
		margin: 10% auto;
		padding: 1em;
	}
}

.top {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.log_container {
    position: absolute;
    right: 0;
    left: 0;
    /* Set Top and Bottom programmatically. */
    overflow-x: hidden;
    overflow-y: auto;

    .log {
        border-collapse: collapse;
        width: 100%;
    }
}
.chat {
    width: 100%;
}

input.chat {
	background-color: @grey;
	border-style: none;
	bottom: 0;
	font-size: 1.5em;
	position: fixed;
	width: 100%;
	&:focus {
		background-color: fadeout(@grey, 10%);
		outline: none;
	}
}
