@import "colors.less";
@import "base.less";
@import "layout.less";
@import "modules/load.less";
@import "modules/connection-list.less";
@import "state/loading.less";
@import "state/selected.less";

.testing {
	background-color: @background;
	color: @content;
}
#chat {
	color: @content;
	height: 100%;
	vertical-align: bottom;
	width: 100%;
	#log {
		border-spacing: 0;
		padding-bottom: 1.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		.author {
			color: @content-grey;
			padding-right: 1em;
			text-align: right;
			vertical-align: top;
		}
		.me {
			color: #FFF - @background;
		}
		.mention {
			color: @accent;
		}
		.room {
			color: @accent;
			font-weight: bold;
		}
		.status {
			color: @content-grey;
			td {
				background-color: @grey;
				border-top: 4px solid @grey;
				vertical-align: baseline;
			}
		}
	}
}

#talk {
	background-color: @grey;
	border-style: none;
	bottom: 0;
	font-size: 1.5em;
	position: fixed;
	width: 100%;
	&:focus {
		background-color: fadeout(@grey, 10%);
		outline: none;
	}
}

@keyframes colors {
	from {
		color: inherit;
		text-shadow: 0 0 20% fadeout(@accent, 100%);
	}
	to {
		color: @accent;
		text-shadow: 0 0 20% fadeout(@accent, 60%);
	}
}

