//Metro Black : #000000
//Metro Blue : #00AEDB
//Metro Green : #00B159
//Metro Orange : #F37735
//Metro Pink : #EC098C
//Metro Purple : #7C4199
//Metro Red : #D11141
//Metro Yellow : #FFC425
/* Accent Colors */
@accent:       `Metro.ui.accentColor`;
@light-accent: fadeout(@accent, 80%);
/* Content Colors */
@background: `Metro.ui.backgroundColor`;

// This is the color that text items in the header should be.
@header-amount: 65;
@header-grey: (@background / 100 * @header-amount) + ((#FFF - @background) / 100 * (100 - @header-amount));

// This is the color for text items in the main content.
@amount: 40;
@content-grey: (@background / 100 * @amount) + ((#FFF - @background) / 100 * (100 - @amount));

// The color for content text
@content-amount: 20; // Text is 20% the background color
@content: (@background / 100 * @content-amount) + ((#FFF - @background) / 100 * (100 - @content-amount));

// This is the background color for UI elements
@grey-amount: 90; // @grey is 90% the background color
@grey: (@background / 100 * @grey-amount) + ((#FFF - @background) / 100 * (100 - @grey-amount));

@import "modules/load.less";

html, body {
	background-color: @background;
	font-family: Calibri, "Open Sans", Verdana, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	* {
		margin: 0;
		padding: 0;
		text-align: left;
	}
}
.testing {
	background-color: @background;
	color: @content;
}
td {
	&::selection {
		background: @background;
	}
	*::selection {
		background: @light-accent;
	}
	*::selection:window-inactive {
		background: desaturate(@light-accent, 100%);
	}
}
header {
	color: @header-grey;
	font-family: "Segoe UI", "Open Sans", Helvetica, Tahoma, sans-serif;
	font-size: 25pt;
	font-weight: bold;
	position: fixed;
	user-select: none;
	top: 0;
	width: 100%;
	z-index: 2;
	ul {
		background-color: @background;
		width: 100%;
		&#networks {
			font-weight: 700;
		}
		&#rooms {
			font-size: 0.75em;
			font-weight: 400;
		}
	}
	li {
		cursor: pointer;
		display: inline-block;
		display: inline;
		list-style-type: none;
		margin: 1px 8px;
		padding: 2px;
		&.mention {
			animation: colors 1.5s linear infinite alternate;
		}
		&.active {
			color: @accent;	
		}
		&.nonitem {
			margin-left: 0;
			padding-left: 0;
			&:hover {
				color: @accent;
			}
		}
	}
}
header #gradient {
	background: linear-gradient(top, @background 0%, fadeout(@background, 100%) 100%);
	height: 25px;
	width: 100%;
}
#chat {
	color: @content;
	height: 100%;
	vertical-align: bottom;
	width: 100%;
	#log {
		border-spacing: 0;
		padding-bottom: 1.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		.author {
			color: @content-grey;
			padding-right: 1em;
			text-align: right;
			vertical-align: top;
		}
		.me {
			color: #FFF - @background;
		}
		.mention {
			color: @accent;
		}
		.room {
			color: @accent;
			font-weight: bold;
		}
		.status {
			color: @content-grey;
			td {
				background-color: @grey;
				border-top: 4px solid @grey;
				vertical-align: baseline;
			}
		}
	}
}

#talk {
	background-color: @grey;
	border-style: none;
	bottom: 0;
	font-size: 1.5em;
	position: fixed;
	width: 100%;
	&:focus {
		background-color: fadeout(@grey, 10%);
		outline: none;
	}
}

@keyframes colors {
	from {
		color: inherit;
		text-shadow: 0 0 20% fadeout(@accent, 100%);
	}
	to {
		color: @accent;
		text-shadow: 0 0 20% fadeout(@accent, 60%);
	}
}

