tr {
    // Message Lines
    &.message {

    }
    &.status {
        color: @content-grey;

        &.mono {
            font-family: "Anonymous Pro";
        }

        td {
            background-color: @grey;
            border-top: 4px solid @grey;
            color: @content-grey;

            &.message {
                padding-left: 3em;
                width: 100%;
            }
        }
    }

    // Messages
    td {
        vertical-align: top;

        &.sender {
            color: @content-grey;
            padding-right: 1em;
            text-align: right;

            .mention {
                .accent;
            }
            &.me {
                color: #FFF - @background;
            }
        }
        &.message {
            &.room {
                .accent;
                font-weight: bold;
            }
        }
    }
}
