.font-fix {
	font-family: "Anonymous Pro", "Courier New", "Nimbus Mono L", monospace;
}

tr {
	// Message Lines
	&.message {
		color: @content;
		padding-left: 1em;
	}
	&.status {
		color: @content-grey;

		&.mono {
			font-family: "Anonymous Pro";
			white-space: pre;
		}

		td {
			background-color: @grey;
			border-top: 4px solid @grey;
			color: @content-grey;
			&.sender {
				padding-right: 0;
			}
		}
	}
	&.mentioned .sender {
		.accent;
	}
	&.status.mentioned .sender {
		color: inherit;
	}
	&.action {
		font-style: italic;

		.time {
			color: @content-grey;
			font-style: normal;
		}

		.message {
			color: @content-grey;
			left: -0.75em;
			position: relative;
		}
	}

	// Messages
	td {
		vertical-align: top;

		&.time {
			color: @content;
//			display: none;
			padding-right: 1em;
		}

		&.sender {
			color: @content-grey;
			padding-right: 1em;
			text-align: right;

			&.me {
				color: #FFF - @background;
			}
		}
		&.message {
			width: 100%;
			.room {
				.accent;
				font-weight: bold;
			}
		}

		.mention {
			.accent;
		}

		.prefix {
			.font-fix;
		}
	}
}
